[data-app-name="file-browser-app"],
[data-app-name="file-browser-app"] .browser {
  position: relative;
}

[data-app-name="file-browser-app"] .indicator {
  position: absolute;
  top: -15px;
  right: 0;
  opacity: 0.75;
}

[data-app-name="file-browser-app"] .current-system-id {
  background-color: #ddd;
}

[data-app-name="file-browser-app"] .attach-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-app-name="file-browser-app"] .attach-top .input-group-addon:first-child,
[data-app-name="file-browser-app"] .attach-top .input-group-btn:first-child>.btn {
  border-bottom-left-radius: 0;
}


[data-app-name="file-browser-app"] .attach-top .input-group-addon:last-child,
[data-app-name="file-browser-app"] .attach-top .input-group-btn:last-child>.btn {
  border-bottom-right-radius: 0;
}

.preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}

.preview.loading:after {
  content: "Loading...";
  position: absolute;
  font-size: 36px;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  margin-top: -35px;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.preview-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  background-color: rgba(0,0,0,0.2);
}

.preview-item-wrapper {
  position: relative;
  top: 50px;
  max-height: calc(100% - 200px);
  overflow: auto;
}

.preview-item * {
  margin: auto;
}

.preview.loading .preview-header {
  display: none;
}

.preview-header {
  position: relative;
  top: 50px;
  margin: 6px auto;
}

.preview-header header {
  padding: 1px;
  border: 1px solid #fff;
  background: #f5f5f5;
  border-bottom: 0;
}

.preview-header button {
  position: relative;
  top: 4px;
  right: 4px;
}
